@import '~antd/lib/style/themes/default.less';
// 根div
.rootDiv {
  height: 100%;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  flex: auto;
  min-height: 0;
  background: #f0f2f5;
}

// 侧边栏.如果小于1200px会自动隐藏
@media screen and (max-width: @screen-lg) {
  .leftSide {
    display: none;
  }
}
// 侧边栏
.leftSide {
  box-sizing: border-box;
  -moz-box-sizing: border-box; /* Firefox */
  -webkit-box-sizing: border-box; /* Safari */
  width: 420px;
  background-color: #5d65f4;
  height: 100%;
  flex: 0 0 256px;
  max-width: 256px;
  min-width: 256px;
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);

  .leftImg {
    margin-top: 254px;
  }
}

// 右边正文区
.rightSide {
  box-sizing: border-box;
  display: flex;
  flex: auto;
  flex-direction: column;
  background-color: #fff;
}

// 分辨率小于400px视为极小屏手机,距上边距缩减
@media screen and (max-width: @screen-xs) {
  .rightSide .loginDiv {
    margin: 50px auto;
  }
}
// 分辨率小于1200px,会自动缩小区域宽度
@media screen and (max-width: @screen-lg) {
  .rightSide .loginDiv {
    width: 60%;
    max-width: 600px;
    min-width: 310px;
  }
}
// 登入窗体
.loginDiv {
  width: 600px;
  box-shadow: 0 0 10px #5d65f4;
  border-radius: 10px;
  margin: 200px auto;
  // 登入正文区
  .loginDivContent {
    width: 300px;
    margin: 60px auto;
  }
  // 登入上方LOGO
  .logoDiv {
    text-align: center;
    padding-bottom: 50px;
  }
}

.sc {
  margin: 0 !important;
}
