// .skuTabCard{
//   :global{
//     .ant-card-head-wrapper{
//       .ant-card-head-title, .ant-card-extra{
//         padding-bottom: 0px;
//       }
//     }
//   }
// }

.EditTableCellStandard {
  :global {
    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td {
      padding: 8px 16px;
    }
  }
}
.txtCenter {
  text-align: center;
}
