@import '~@/utils/utils.less';

.contentModal {
  .title {
    font-size: 16px;
    font-weight: 600;
  }

  :global(.ant-divider-horizontal) {
    margin: 5px 0 10px;
  }
}

.searchStyle {
  height: 36px;
  margin-bottom: 0 !important;
  // overflow: hidden;
}

.dropdownOverlayArea {
  display: flex;
  margin-right: 10px !important;
}

.applyBillTop {
  margin: 15px 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; //两端对齐,每个项目两侧的间隔相等，即项目之间的间隔比项目与边框的间隔大一倍
  align-items: center;

  .blockTitle {
    font-size: 16px;
    font-weight: 600;
  }
}

.messageTitle {
  font-size: 14px;
  font-weight: 700;
  margin-right: 4px;
}

.messageBottom {
  margin-bottom: 8px;
}

.goodsApplyBillNoAuditTable {
  :global {
    .ant-table-content > .ant-table-body {
      margin: 0;
    }
  }
}

.rowActive {
  background-color: #1890ff;
  color: #fff;
}
.rowActive:hover {
  color: #1e1e1e;
}
