.listItemCmp {
  display: flex;
  // flex-wrap: nowrap;
  // justify-content: space-between;
  // align-items: center;
  width: 100%;

  .listItemCmpChild {
    display: flex;
    align-items: center;
  }

  .listPicCmpChildItem {
    margin: 0 5px;
    padding: 0 5px;
  }
}
