@import '~@/utils/utils.less';

.OverlaySearch {
  display: flex;
  margin-right: 10px;
}

.searchStyle {
  height: 36px;
  margin-bottom: 0;
  // overflow: hidden;
}

.dropdownOverlayArea {
  background: white;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  > div {
    display: flex;
  }
}
