@import '~@/utils/utils.less';

.skuAttrSelectArea {
  display: flex;
  align-items: center;

  span {
    margin-right: 10px;
    font-size: 1px;
    color: grey;
    width: 150px;
    text-align: right;
  }

  .cascaderArea {
    width: 80%;
  }
}

.inputTextStyle {
  color: black !important;
  // background: transparent !important;
  opacity: 1;
  // border: none;
}

.searchCmpStyle {
  display: flex;
}

.dropdownOverlayArea {
  background: white;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  padding: 10px;
}
