// UploadSingleFile.js组件样式
.uploadSingleFileBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 1px;
  margin: 2px 0 2px;
  border-radius: 5px;
  border: 1px dashed #d8d8d8;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
  }

  div {
    position: relative;
    width: 100%;
    height: 100%;
    .deletePic {
      display: none;
    }
  }

  div:hover {
    .deletePic {
      position: absolute;
      top: 0;
      right: 0;
      padding: 2px;
      display: inline;
    }
    img {
      opacity: 0.6;
    }
  }

  .uploadPic {
    width: 100%;
    height: 100%;
    display: block;
    & > div {
      vertical-align: middle;
      & > span {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .previewFile {
    color: #666;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .deleteFile {
    display: none;
  }

  &:hover {
    img {
      opacity: 0.6;
    }
    .deleteFile {
      position: absolute;
      top: 0;
      right: 0;
      padding: 2px;
      display: inline;
    }
  }

  &.uploadSingFileDistance {
    margin: 0 10px 0 0;
    position: relative;
  }
}

.uploadSingleFilesList {
  display: flex;
  justify-content: left;
}
