.skuTabCard {
  :global {
    .ant-card-head-wrapper {
      .ant-card-head-title,
      .ant-card-extra {
        // padding-bottom: 0;
      }
    }
  }
}

.catagoryCascader {
  :global {
    .ant-cascader-menu {
      height: auto;
      min-height: 180px;
      max-height: 350px;
    }
  }
}

.txtCenter {
  text-align: center;
}
