@import '~@/utils/utils.less';

.productCont {
  :global {
    .ant-card-head-title {
      padding: 0;
    }
    .ant-card-body {
      padding: 5px;
    }
  }
}

.uploadDesAttach {
  width: 126px;
  height: 126px;
}

.catagoryCascader {
  :global {
    .ant-cascader-menu {
      height: auto;
      min-height: 180px;
      max-height: 350px;
    }
  }
}

.ant-card-body {
}

.minusPos {
  position: relative;
  top: 25px;
  right: 16px;
}

.tianYCFont {
  color: #1890ff;
}

.tianYCRow {
  text-align: center;
}
