@import '~@/utils/utils.less';

.searchStyle {
  height: 36px;
  margin-bottom: 0;
  // overflow: hidden;
}

.dropdownOverlayArea {
  display: flex;
  margin-right: 10px;
}

.custApplyAuditTable {
  :global {
    .ant-table-content > .ant-table-body {
      margin: 0;
    }
  }
}

.rowActive {
  background-color: #1890ff;
  color: #fff;
}
.rowActive:hover {
  color: #1e1e1e;
}

.tianYCFont{
  color: #1890FF;
}

.tianYCRow{
  text-align: center;
}
