.header {
  // 表格头部样式
  margin: 15px 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; //两端对齐,每个项目两侧的间隔相等，即项目之间的间隔比项目与边框的间隔大一倍
  align-items: center;
  .blockTitle {
    font-size: 16px;
    font-weight: 600;
  }
}

.footer {
  // 表格尾部样式
  margin: 15px 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  align-items: center;
}
