@import '../../../../node_modules/antd/lib/style/themes/default.less';

.container > *:global(:not(.ant-dropdown-menu)) {
  background-color: #fff;
  box-shadow: @shadow-1-down;
  border-radius: 4px;
}

@media screen and (max-width: @screen-xs) {
  .container {
    width: 100% !important;
  }
  .container > * {
    border-radius: 0 !important;
  }
}
