@import '~@/utils/utils.less';

.productCont {
  :global {
    .ant-card-head-title {
      padding: 0;
    }
    .ant-collapse{
      border: none;
    }
  }
}

.uploadDesAttach {
  width: 126px;
  height: 126px;
}

.redFont{
  color: red;
}

.blackFont{
  color: black;
}

.ristTitle{
  display: inline;
  margin-right: 10px;
}

.pading2px{
  padding: 2px;
}

.pading8px{
  padding: 8px;
}

.redBorder{
  border:1px solid red;
  color: red;
}

.orangeBorder{
  border:1px solid orange;
  color: orange;
}

.khakiBorder{
  border:1px solid #e7d533;
  color: #e7d533;
}

.riskItem{
  background-color:#f1f7fb;
}