@import '~@/utils/utils.less';

.productCont {
  :global {
    .ant-card-head-title {
      padding: 0;
    }
  }
}

.uploadDesAttach {
  width: 126px;
  height: 126px;
}

.catagoryCascader {
  :global {
    .ant-cascader-menu {
      height: auto;
      min-height: 180px;
      max-height: 350px;
    }
  }
}

.modalNewAdd {
  color: blue;
}
