@import '~@/utils/utils.less';

.contentModal {
  .title {
    font-size: 16px;
    font-weight: 600;
  }
  :global(.ant-divider-horizontal) {
    margin: 5px 0 10px;
  }
}

.modalHandleBtnArea {
  margin: 50px 0 30px;
  display: flex;
  justify-content: center;
  button {
    margin: 0 40px;
  }
}

.titleModal {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin: 0 5px 10px;
}

.searchStyle {
  height: 36px;
  margin-bottom: 0;
  // overflow: hidden;
}

.dropdownOverlayArea {
  display: flex;
  margin-right: 10px;
}
