@import '~antd/lib/style/themes/default.less';
@import '~@/utils/utils.less';

.activitiesList {
  padding: 0 24px 8px 24px;
  .username {
    color: @text-color;
  }
  .event {
    font-weight: normal;
  }
}
:global {
  .ant-list-item-content {
    justify-content: flex-start !important;
  }
}

.searchContent {
  background-color: #f0f2f5;
  padding: 30px 0 15px 0;
  a {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    text-align: right;
  }
  span {
    font-size: 18px;
    font-weight: 500;
  }
  :global {
    .ant-input {
      border-radius: 30px !important;
    }
  }
}

.pageHeaderContent {
  display: flex;
  .avatar {
    flex: 0 1 72px;
    margin-bottom: 8px;
    & > span {
      border-radius: 72px;
      display: block;
      width: 72px;
      height: 72px;
    }
  }
  .content {
    position: relative;
    margin: 24px auto;
    flex: 1 1 auto;
    color: @text-color-secondary;
    line-height: 22px;
    .contentTitle {
      font-size: 20px;
      line-height: 28px;
      font-weight: 500;
      color: @heading-color;
      margin-left: 24px;
    }
  }
}

.listContent {
  font-size: 0;
  .listContentItem {
    color: @text-color-secondary;
    display: inline-block;
    vertical-align: middle;
    font-size: @font-size-base;
    margin-left: 40px;
    > span {
      line-height: 20px;
    }
    > p {
      margin-top: 4px;
      margin-bottom: 0;
      line-height: 22px;
    }
  }
}

.extraContent {
  .clearfix();
  float: right;
  white-space: nowrap;
  .statItem {
    padding: 0 32px;
    position: relative;
    display: inline-block;
    > p:first-child {
      color: @text-color-secondary;
      font-size: @font-size-base;
      line-height: 22px;
      margin-bottom: 4px;
    }
    > p {
      color: @heading-color;
      font-size: 30px;
      line-height: 38px;
      margin: 0;
      > span {
        color: @text-color-secondary;
        font-size: 20px;
      }
    }
    &:after {
      background-color: @border-color-split;
      position: absolute;
      top: 8px;
      right: 0;
      width: 1px;
      height: 40px;
      content: '';
    }
    &:last-child {
      padding-right: 0;
      &:after {
        display: none;
      }
    }
  }
}

.members {
  a {
    display: block;
    margin: 12px 0;
    height: 24px;
    color: @text-color;
    transition: all 0.3s;
    .textOverflow();
    .member {
      font-size: @font-size-base;
      line-height: 24px;
      vertical-align: top;
      margin-left: 12px;
    }
    &:hover {
      color: @primary-color;
    }
  }
}

.projectList {
  :global {
    .ant-card-meta-description {
      color: @text-color-secondary;
      height: 44px;
      line-height: 22px;
      overflow: hidden;
    }
  }
  .cardTitle {
    font-size: 0;
    a {
      color: @heading-color;
      margin-left: 12px;
      line-height: 24px;
      height: 24px;
      display: inline-block;
      vertical-align: top;
      font-size: @font-size-base;
      &:hover {
        color: @primary-color;
      }
    }
  }
  .projectGrid {
    width: 33.33%;
  }
  .projectItemContent {
    display: flex;
    margin-top: 8px;
    overflow: hidden;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    .textOverflow();
    a {
      color: @text-color-secondary;
      display: inline-block;
      flex: 1 1 0;
      .textOverflow();
      &:hover {
        color: @primary-color;
      }
    }
    .datetime {
      color: @disabled-color;
      flex: 0 0 auto;
      float: right;
    }
  }
}

.datetime {
  color: @disabled-color;
}

@media screen and (max-width: @screen-xl) and (min-width: @screen-lg) {
  .activeCard {
    margin-bottom: 24px;
  }
  .members {
    margin-bottom: 0;
  }
  .extraContent {
    margin-left: -44px;
    .statItem {
      padding: 0 16px;
    }
  }
}

@media screen and (max-width: @screen-lg) {
  .activeCard {
    margin-bottom: 24px;
  }
  .members {
    margin-bottom: 0;
  }
  .extraContent {
    float: none;
    margin-right: 0;
    .statItem {
      padding: 0 16px;
      text-align: left;
      &:after {
        display: none;
      }
    }
  }
}

@media screen and (max-width: @screen-md) {
  .extraContent {
    margin-left: -16px;
  }
  .projectList {
    .projectGrid {
      width: 50%;
    }
  }
}

@media screen and (max-width: @screen-sm) {
  .pageHeaderContent {
    display: block;
    .content {
      margin-left: 0;
    }
  }
  .extraContent {
    .statItem {
      float: none;
    }
  }
}

@media screen and (max-width: @screen-xs) {
  .projectList {
    .projectGrid {
      width: 100%;
    }
  }
}

.delete {
  text-decoration: line-through;
}
.overdue {
  color: red;
}
