@import '~antd/lib/style/themes/default.less';

.textOverflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
}

.textOverflowMulti(@line: 3, @bg: #fff) {
  overflow: hidden;
  position: relative;
  line-height: 1.5em;
  max-height: @line * 1.5em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    background: @bg;
    content: '...';
    padding: 0 1px;
    position: absolute;
    right: 14px;
    bottom: 0;
  }
  &:after {
    background: white;
    content: '';
    margin-top: 0.2em;
    position: absolute;
    right: 14px;
    width: 1em;
    height: 1em;
  }
}

// mixins for clearfix
// ------------------------
.clearfix() {
  zoom: 1;
  &:before,
  &:after {
    content: ' ';
    display: table;
  }
  &:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
  }
}

// 自定义局部样式
.modalHandleBtnArea {
  margin: 50px 0 30px;
  display: flex;
  justify-content: center;
  button {
    margin: 0 40px;
  }
}

.modalHandleFormScopeArea {
  input {
    color: #000d1c;
    font-size: 14px;
  }
  input[disabled] {
    color: #000d1c;
    font-size: 14px;
    opacity: 1;
  }
  textarea {
    color: #000d1c;
    font-size: 14px;
  }
  textarea[disabled] {
    color: #000d1c;
    font-size: 14px;
    opacity: 1;
  }
  :global(.ant-checkbox-wrapper .ant-checkbox-wrapper-disabled) {
    color: #000d1c;
    font-size: 14px;
    opacity: 1;
  }
  :global(.ant-form-item) {
    margin-bottom: 0px;
  }
}
