@import '~@/utils/utils.less';

.contentModal {
  .title {
    font-size: 16px;
    font-weight: 600;
  }
  :global(.ant-divider-horizontal) {
    margin: 5px 0 10px;
  }
}

.searchStyle {
  height: 36px;
  margin-bottom: 0;
  // overflow: hidden;
}

.dropdownOverlayArea {
  display: flex;
  margin-right: 10px;
}
