@import '~@/utils/utils.less';

.productCont {
  :global {
    .ant-card-head-title {
      padding: 0;
    }
  }
}

.synopsis {
  vertical-align: top;
  :global {
    .ant-descriptions-item-content {
      width: 90%;
    }
  }
}

.blurPrompt {
  font-size: 12px;
  color: #aaa;
  display: block;
  line-height: 1;
}

.errorPrompt {
  color: red;
  display: block;
  line-height: 1.5;
  :global {
    a {
      margin-left: 8px;
    }
  }
}

.commonAttrAdd {
  margin-top: 8px;
}

.skuTypeTitle {
  color: #1890ff;
}

.rowAdd {
  margin-top: 8px;
  width: 120px;
}
