@import '~@/utils/utils.less';

.gridContainer {
  height: 100%;
}

.gridRow {
  height: 100%;
}

.gridColSider {
  height: 89vh;
  border-right: 0.5px solid #f4f4f4;
  overflow: auto;
}

.gridColContent {
  height: 89vh;
  border: 0.5px solid white;
  input {
    color: #000d1c;
    font-size: 14px;
  }
  input[disabled] {
    color: #000d1c;
    font-size: 14px;
    opacity: 1;
  }
  textarea {
    color: #000d1c;
    font-size: 14px;
  }
  textarea[disabled] {
    color: #000d1c;
    font-size: 14px;
    opacity: 1;
  }

  :global(.ant-divider-horizontal) {
    margin: 15px 0;
  }
  :global(.ant-col-sm-8) {
    width: 20%;
  }
  :global(.ant-form-item) {
    margin-bottom: 0px;
  }

  .contentHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 0;
    button {
      margin: 0 5px;
    }
    .contentHeaderTitle {
      font-size: 18px;
      font-weight: 600;
    }
  }
}

.deleteChlidNodeText {
  color: red;
  font-size: 18px;
}
